- content_for :title do
  = t('jingles.new.title')

- content_for :header do
  = render partial: "jingles/tour/new"

/- content_for :browser do
/  .list-group.bg-white
/    %span.bg-dark.list-group-item= t('jingles.show.browser.title')
/    - if params[:id]
/      = icon_link(t('jingles.show.browser.add_track'), {href: new_jingle_track_jingle_path(jingle), class: "list-group-item"}, "icon-plus m-r-xs")
/      = icon_link(t('jingles.show.browser.view_tree'), {href: "#", class: "list-group-item"}, "icon-code-fork m-r-xs")
/    = icon_link(t('jingles.show.browser.cancel'), {href: jingles_path, class: "list-group-item text-danger"}, "icon-remove m-r-xs text-danger")
      

.col-lg-12.m-t
  - if jingle && jingle.jingles.new.new_record?
    = render partial: "shared/beta", locals: {text: t('beta.track_mixer.index')}
    = render partial: "add_track_form"
  = render partial: "form"