<!DOCTYPE html>
%html{lang: "en"}
  %head
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %title
      = content_for?(:title) ? yield(:title) + " &rsaquo; Jinglr".html_safe : "Jinglr"
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    - if @canonical
      %link{rel: "canonical", href: "#{APP_CONFIG['url']}#{@canonical}"}
    %meta{property: "og:image", content: "#{@og_image || asset_url('logofb.png')}"}
    %meta{property: "og:url", content: "http://#{request.host+request.fullpath}"}
    %meta{property: "og:title", content: "#{@og_title || content_for?(:title) ? yield(:title) + ' &rsaquo; Jinglr'.html_safe : 'Jinglr'}"}
    %meta{property: "og:description", content: "#{@meta_description || 'Jinglr is a free collaborative songwriting web application. Add a track, mix with existing tracks, and create new music. What are you waiting for? Sign up today.'}"}
    %meta{property: "og:type", content: "website"}
    %meta{property: "fb:app_id", content: "#{APP_CONFIG['fb_app_id']}"}
    %meta{property: "fb:admins", content: "#{APP_CONFIG['fb_admins']}"}
  %body.bg-black
    %section#content.m-t-lg.wrapper-md.animated.fadeInDown
      = link_to(image_tag(asset_path("logo.png"), alt: t('header.jinglr')), root_path, class: "logo nav-brand")
      .row.m-n
        .col-md-4.col-md-offset-4.m-t-lg
          %section.panel.bg-white
            = yield
  
    = render partial: "shared/analytics"